.pull-right, .right.floated {
	top: 0;
	right: 0;
	height: 100%;
	position: absolute;
}
.floating {
	z-index: 10;
	position: absolute;
}
.center.aligned {
	margin: 0 auto;
}
.middle.aligned {
	vertical-align: middle;
}
.hide {
	display: none;
}
.full-width, .fluid {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}
.full-height {
	height: 100%;
}
.container {
	background-color: #fff;
	width: 100%;
	height: 100%;
}
.window {
	background-color: #fff;
	height: 100%;
	width: 100%;
}
