@import "../../../.repos/lcui.css/src/scss/functions";
@import "../../../.repos/lcui.css/src/scss/variables";

$blue: #1890ff;
$primary-color: $blue;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$spacing: 15px;
$gutter-width: 20px;
$border-color: #eee;
$font-size: 14px;

$view-bg: #fff;
$view-navbar-bg: #fff;
$view-navbar-border-color: $border-color;
$view-navbar-font-size: 16px;
$view-navbar-title-font-size: 18px;
$view-navbar-line-height: 46px;
$view-navbar-padding-y: 4px;
$view-navbar-padding-x: 10px;
$view-navbar-height: $view-navbar-line-height + $view-navbar-padding-y * 2;

$view-navbar-btn-color: #707070;
$view-navbar-btn-hover-color: #2e2e2e;
$view-navbar-btn-font-size: $view-navbar-font-size;
$view-navbar-btn-icon-font-size: 24px;
$view-navbar-btn-icon-line-height: $view-navbar-btn-icon-font-size;
$view-navbar-btn-spacing: 10px;
$view-navbar-btn-padding-y: ($view-navbar-line-height - $view-navbar-btn-icon-line-height) / 2;
$view-navbar-btn-padding-x: $spacing / 2;

$panel-header-height: $view-navbar-height;
$panel-header-line-height: $view-navbar-line-height;
$panel-header-padding-y: $view-navbar-padding-y;
$panel-header-font-size: $view-navbar-font-size;
$panel-header-padding-x: $spacing;
$panel-content-padding-x: $spacing;
$panel-content-padding-y: $spacing;

$tag-margin-x: 5px;
$tag-margin-y: 5px;
$tag-padding-x: 8px;
$tag-padding-y: 3px;
$tag-color: $gray-700;
$tag-font-size: $font-size - 1px;

$sidebar-bg: #fafafa;
$sidebar-color: #707070;
$sidebar-hover-color: #2e2e2e;
$sidebar-width: 256px;
$sidebar-min-width: 48px;
$sidebar-font-size: 20px;
$sidebar-icon-width: 48px;
$sidebar-line-height: 28px;
$sidebar-border-color: $border-color;

$sidebar-item-padding-x: 0;
$sidebar-item-padding-y: 8px;
$sidebar-item-hover-bg: rgba(0,0,0,0.04);
$sidebar-item-active-bg: rgba(0,0,0,0.06);
$sidebar-item-active-color: $primary-color;
$sidebar-item-border-width: 3px;

$divider-color: $border-color;
$divider-margin-y: 12px;

$switch-height: 20px;
$switch-border-width: 2px;
$switch-slider-width: $switch-height - $switch-border-width * 2;
$switch-icon-width: $switch-height + $switch-border-width * 2;
$switch-icon-height: $switch-height - $switch-border-width * 2;
$switch-bar-width: $switch-icon-width * 2 + $switch-slider-width;
$switch-width: $switch-icon-width + $switch-slider-width + $switch-border-width * 2;
$switch-checked-color: #44BB55;
$switch-color: #8c9da5;

$file-list-item-spacing: 6px;
$file-folder-bg: #f0f0f0;
$file-folder-padding: 10px;
$file-folder-info-bg: #fff;
$file-folder-info-line-height: 18px;
$file-folder-icon-size: 32px;
$file-folder-icon-font-size: 30px;
$file-folder-info-height: $file-folder-info-line-height * 2 + $file-folder-padding * 2;
$file-folder-width: 300px;
$file-folder-height: $file-folder-info-height + 80px;
$file-folder-info-content-width: $file-folder-width - $file-folder-padding * 3 - $file-folder-icon-size;
$file-picture-size: 226px;

$folder-info-box-name-size: 18px;
$folder-info-box-height: $spacing * 2 + $line-height-base * 2 * $font-size + $folder-info-box-name-size * $line-height-base;

$labelbox-label-height: 24px;
$labelbox-border-width: 2px;

$window-panel-width: 320px;
