.app-alert {
	top: $view-navbar-height + $spacing;
	right: $gutter-width;
	position: absolute;
	min-width: 180px;

	.alert-header {
		font-size: $font-size;
		font-weight: 500;
	}
	.alert-text {
		font-size: $font-size - 1px;
	}
}
