.dialog {
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
}
.dialog-content {
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
	padding: 10px;
	vertical-align: middle;
	background-color: #fff;
	box-sizing: border-box;

	.text-block {
		margin-bottom: 15px;
	}
	.dialog-header {
		width: 100%;
		padding: 15px 15px 5px 15px;
		box-sizing: border-box;
	}
	.dialog-body {
		padding: 15px;
		width: 100%;
		box-sizing: border-box;
	}
	.dialog-footer {
		width: 100%;
		padding: 5px 15px 15px 15px;
		box-sizing: border-box;
	}
	.input-group {
		padding: 5px 15px;
		box-sizing: border-box;
		margin: -5px -15px 10px -15px;

		&:last-child {
			margin-bottom: 0;
		}
		.message {
			padding-top: 5px;
		}
		.error.message {
			color: #fff;
			padding: 4px 10px;
			font-size: 13px;
			background-color: #FD4C4C;
			box-sizing: border-box;
			display: none;
		}

		&.error {
			textedit,
			textedit:active,
			textedit:focus,
			textedit:hover {
				border-color: #FD4C4C;
				box-shadow: none;
			}
			.error.message {
				display: block;
			}
		}
	}
	.dialog-header {
		.text, textview {
			font-size: 18px;
		}
	}
	.dialog-body {
		.text, textview, button {
			font-size: 14px;
			width: 100%;
		}
	}
	.dialog-btn-group {
		width: 50%;
		height: 30px;
		display: inline-block;
		padding: 0 4px;
		box-sizing: border-box;

		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
		&.one-button {
			width: 100%;
			display: block;

			 .dialog-btn {
				width: 50%;
				margin: 0 auto;
			}
		}
	}
	.dialog-btn {
		width: 100%;
		height: 30px;
		padding: 0;
		line-height: 28px;
		text-align: center;
		box-sizing: border-box;
		background-color: #ddd;
		border: 2px solid #ddd;

		&:hover {
			border: 2px solid #aaa;
		}
		&:active {
			background-color: #aaa;
		}
		&:disabled {
			background-color: #eaeaea;
			border: 2px solid #eaeaea;
		}
		&:disabled {
			color: #bbb;
		}	
	}
	textedit.has-error {
		&:focus, &:hover, &:active {
			border-color: #a94442;
			box-shadow: 0 0 6px rgba(169,68,66,0.4);
		}
	}
	progress {
		width: 100%;
		height: 14px;
		display: block;
		background-color: #eee;
		margin-bottom: 5px;
	}
}
textedit.dialog-input {
	box-sizing: border-box;
}
