dropdown.checkable .icon,
dropdown.checkable .text {
	display: inline-block;
	line-height: 24px;
}
dropdown.checkable dropdown-item {
	padding-right: 20px;
}
dropdown.checkable dropdown-item .icon {
	visible: false;
	margin-right: 5px;
	font-size: 20px;
}
dropdown.checkable dropdown-item.active .icon {
	visible: true;
}
