.labelbox-resizer {
    right: 4px;
    bottom: 4px;
    font-size: 24px;
    line-height: 24px;
    position: absolute;
    opacity: 0.6;
}
.labelbox-box {
    min-width: 32px; 
    min-height: 32px; 
    box-sizing: border-box;
    border: 2px solid #888;
}
labelbox {
    z-index: 10;
    position: absolute;
    min-width: 32px;
    min-height: #{$labelbox-label-height + 32px};

    textview {
        color: #fff;
        line-height: $labelbox-label-height;
        padding: 0 $labelbox-border-width;
        display: inline-block;
        background-color: #888;
    }
    textedit {
        top: 0;
        left: 0;
        width: 100%;
        min-width: 60px;
        display: none;
        position: absolute;
        color: #fff;
        padding: 0 $labelbox-border-width;
        line-height: $labelbox-label-height;
        border: 0;

        &:focus {
            box-shadow: none;
            border: 0;
        }
    }
    textcaret {
        background-color: #fff;
    }
    .labelbox-resizer:hover {
        opacity: 1;
    }
    &.editing {
        textedit {
            display: block;
        }
    }
}
@for $i from 1 to length($labelbox-colors) + 1 {
    $color: nth($labelbox-colors, $i);

    .labelbox-color-#{$i} {
        .labelbox-box {
            border-color: $color;
            background-color: rgba($color, 0.1);
        }
        .labelbox-remove,
        .labelbox-resizer {
            color: $color;
        }
        textedit,
        textview {
            background-color: $color;
        }
    }
}
