.loading-dimmer {
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
}
.loading-box {
	width: $loading-box-width;
	margin: 0 auto;
	padding: $spacing;
	vertical-align: middle;
	background-color: #fff;
    box-sizing: border-box;
    box-shadow: 1px 0 8px rgba(0,0,0,0.4);
}
.loading-icon {
    color: theme-color("primary");
    font-size: 40px;
    margin-bottom: $spacing;
}
.loading-text,
.loading-icon {
    display: block;
    text-align: center;
}
