.message.box {
	width: 100%;
	max-width: 120px;
	padding: 15px 25px;
	background-color: rgba(255,255,255,0.8);
}
.message .text {
	color: #ccc;
	font-size: 14px;
	text-align: center;
}
.icon.message .icon {
	color: #ddd;
	display: block;
	font-size: 74px;
	text-align: center;
}
