.panel-header {
	top: 0;
	left: 0;
	width: 100%;
	height: $panel-header-height;
	padding: $view-navbar-padding-y $panel-header-padding-x;
	position: absolute;
	border-bottom: 1px solid $border-color;
}
.panel-header-title {
	font-size: $panel-header-font-size;
	line-height: $panel-header-line-height;
}
.panel-body {
	padding-top: $panel-header-height;
	height: 100%;
	width: 100%;
}
.panel-content {
	width: 100%;
	padding: $panel-content-padding-y $panel-content-padding-x;
}
.panel-content-wrapper {
	width: 100%;
	height: 100%;
}
.panel-close-btn {
	top: $panel-header-padding-y;
	right: 0;
	position: absolute;
	
	.icon {
		font-size: $panel-header-font-size + 4px;
		line-height: $panel-header-line-height;
		width: $panel-header-line-height;
		text-align: center;
	}
	&:hover {
		.icon {
			color: #666;
		}
	}
	&:active {
		background-color: #f8f8f8;
	}
}
