.taskitem-content {
    padding: $spacing 80px $spacing #{$taskitem-icon-width + $spacing};
}
.taskitem-action {
    top: $spacing * 1.25;
    right: $spacing;
    position: absolute;
}
.taskitem-icon {
    top: $spacing;
    left: $spacing;
    position: absolute;
    width: $taskitem-icon-width;
    font-size: 32px;
}
.taskitem-name {
    font-weight: 600;
}
.taskitem-text,
.taskitem-progress-text {
    color: $gray-600;
}
.taskitem-progress,
.taskitem-progress-text {
    display: none;
}
.taskitem-progress {
    progressbar {
        min-width: 2px;
    }
}
.taskitem.active {
    .taskitem-progress {
        display: block;
    }
    .taskitem-progress-text {
        display: block;
    }
    .taskitem-text {
        display: none;
    }
}
.taskitem.disabled {
    .taskitem-action {
        opacity: 0.6;
        pointer-events: none;
    }
}
.taskitem.completed {
    .taskitem-progress-text {
        color: $green;
        display: block;
    }
}
.taskitem.error {
    .taskitem-progress-text {
        color: $red;
        display: block;
    }
}
.taskitem.error,
.taskitem.completed {
    .taskitem-text,
    .taskitem-progress {
        display: none;
    }
}
