@import "../../../.repos/lcui.css/src/scss/functions";
@import "../../../.repos/lcui.css/src/scss/variables";

#{$text-elements}, textview-i18n, .text, .icon {
	font-size: 14px;
}
textview-i18n {
	font-family: $font-family-base;
}
.text-muted {
	color: #888;
}
.text-line {
	width: 100%;
	max-width: 440px;
	margin-bottom: 5px;
}
.text-line .text {
	display: inline-block;
}
.text-paragraph {
	margin-bottom: 20px;
}
