#{$text-elements}, textview-i18n, .text, .icon, .link {
	font-size: 14px;
}
textview-i18n, .link {
	font-family: $font-family-base;
}
.text-muted {
	color: $gray-600;
}
.text-line {
	width: 100%;
	max-width: $main-container-width;
	margin-bottom: 5px;
}
.text-line .text {
	display: inline-block;
}
.text-paragraph {
	margin-bottom: 20px;
}
