
.skin-light-black .sidebar {
	background-color: #f9fafc;
	border: 1px solid #d2d6de;
}
.skin-light-black .sidebar sidebar-toggle .icon,
.skin-light-black .sidebar .sidebar-item .icon,
.skin-light-black .sidebar .sidebar-item .text {
	color: #000;
}
.skin-light-black .sidebar .sidebar-item:hover, 
.skin-light-black .sidebar sidebar-toggle:hover {
	background-color: #f4f4f5;
}
.skin-light-black .sidebar .sidebar-item:active,
.skin-light-black .sidebar sidebar-toggle:active {
	background-color: #f4f4f5;
}
.skin-light-black .view {
	background-color: #F5F5F5;
}
.skin-light-black .view-navbar {
	background-color: #616161;
}
.skin-light-black .view-navbar textview {
	color: #fff;
}
.skin-light-black .view-navbar .view-navbar-btn:hover {
	background-color: #424242;
}
.skin-light-green .sidebar {
	background-color: #F0F1F2;
	border: 1px solid #DDDEDF;
}
.skin-light-green .sidebar textview {
	color: #000;
}
.skin-light-green .sidebar .sidebar-item:hover, 
.skin-light-green .sidebar sidebar-toggle:hover {
	background-color: #fafafa;
}
.skin-light-green .sidebar .sidebar-item:active textview,
.skin-light-green .sidebar sidebar-toggle:active textview {
	color: #44BB55;
}
.skin-light-green .sidebar .sidebar-item:active,
.skin-light-green .sidebar sidebar-toggle:active {
	background-color: #ECF8EE;
}
.skin-light-green .sidebar .active,
.skin-light-green .sidebar .active:hover {
	//background-color: #44BB55;
	background-color: rgba(68,187,85,0.8);
}
.skin-light-green .sidebar .active:hover textview {
	color: #fff;
}
.skin-light-green .sidebar .active textview {
	color: #fff;
}
.skin-light-green .view {
	background-color: #fff;
}
.skin-light-green .view-navbar {
	background-color: #414849;
}
.skin-light-green .view-navbar textview {
	color: #fff;
}
.skin-light-green .view-navbar .view-navbar-btn:hover {
	background-color: #4C5556;
}
.skin-light-green .view-navbar .view-navbar-btn:active {
	background-color: #616C6D;
}
.skin-light-green .btn-link textview {
	color: #44BB55;
}
.skin-light-green .btn-link:hover textview {
	color: #2E7D39;
}
.skin-light-green .file-list .file-list-item-folder:hover {
	border-color: #44BB55;
}
.skin-light-green .file-list .file-list-item-picture .picture-cover:hover {
	top: 0;
	left: 0; 
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid #44BB55;
}
.skin-light-green .tag-thumb-list-item-checkbox {
	color: #44BB55;
}
.skin-light-green .tag-thumb-list-item-cover {
	border: 2px solid #44BB55;
}
.skin-light-green textedit:focus {
	box-shadow: 0 0 6px rgba(68,187,85,0.4);
	border-color: #44BB55;
}
.skin-light-green starrating .mdi-star {
	color: #44A340;
}