.skin-light-green .sidebar {
	background-color: #fff;
	border: 1px solid #DDDEDF;
}
.skin-light-green .sidebar textview {
	color: #000;
}
.skin-light-green .sidebar .sidebar-item {
	border-left: 2px solid transparent;
}
.skin-light-green .sidebar .sidebar-item .icon {
	margin-left: -2px;
}
.skin-light-green .sidebar .sidebar-item:hover, 
.skin-light-green .sidebar sidebar-toggle:hover {
	background-color: #fafafa;
	border-color: #fafafa;
}
.skin-light-green .sidebar .active textview,
.skin-light-green .sidebar .sidebar-item:active textview,
.skin-light-green .sidebar sidebar-toggle:active textview {
	color: #44BB55;
}
.skin-light-green .sidebar .sidebar-item:active,
.skin-light-green .sidebar sidebar-toggle:active {
	background-color: #ECF8EE;
}
.skin-light-green .sidebar .sidebar-item.active,
.skin-light-green .sidebar .sidebar-item.active:hover {
	background-color: #ECF8EE;
	border-color: #44BB55;
}
.skin-light-green .view, 
.skin-light-green .subview {
	background-color: #f5f7fa;
}
.skin-light-green .view-navbar {
	background-color: #414849;
}
.skin-light-green .view-navbar textview {
	color: #fff;
}
.skin-light-green .view-navbar .divider {
	background-color: #373D3E;
}
.skin-light-green .selection-mode textview.view-navbar-title {
	color: #ddd;
}
.skin-light-green .view-navbar .view-navbar-btn:hover {
	background-color: #4C5556;
}
.skin-light-green .view-navbar .view-navbar-btn:active {
	background-color: #616C6D;
}
.skin-light-green .view-navbar .view-navbar-btn:disabled,
.skin-light-green .view-navbar .view-navbar-btn:disabled:hover,
.skin-light-green .view-navbar .view-navbar-btn:disabled:active {
	background-color: transparent;
}
.skin-light-green .view-navbar .view-navbar-btn:disabled textview,
.skin-light-green .view-navbar .view-navbar-btn:disabled:hover textview,
.skin-light-green .view-navbar .view-navbar-btn:disabled:active textview {
	color: #727e80;
}
.skin-light-green .btn-link textview,
.skin-light-green textview.btn-link {
	color: #44BB55;
}
.skin-light-green .btn-link:hover textview,
.skin-light-green textview.btn-link:hover {
	color: #2E7D39;
}
.skin-light-green textview.btn-link.selected,
.skin-light-green textview.btn-link.selected:active,
.skin-light-green textview.btn-link.selected:hover {
	color: #333;
}
.skin-light-green .file-list .file-list-item-picture.selected .checkbox {
	color: #fff;
	border-color: #44BB55;
	background-color: #44BB55;
}
.skin-light-green .file-list .file-list-item-folder:hover,
.skin-light-green .file-list .file-list-item-picture.selected .picture-cover,
.skin-light-green .file-list .file-list-item-picture:hover .picture-cover {
	border-color: #44BB55;
}
.skin-light-green .tag-thumb-list-item-checkbox {
	color: #44BB55;
}
.skin-light-green .tag-thumb-list-item-cover {
	border: 2px solid #44BB55;
}
.skin-light-green textedit:focus {
	box-shadow: 0 0 6px rgba(68,187,85,0.4);
	border-color: #44BB55;
}
.skin-light-green starrating .mdi-star {
	color: #44A340;
}
.skin-light-green .dialog-content progressbar,
.skin-light-green .view-content-wrapper progressbar {
	background-color: #44A340;
}
.skin-light-green .source-list .source-list-item:hover {
	background-color: #fdfdfd;
}
.skin-light-green .source-list .source-list-item:active {
	background-color: #fafafa;
}
.skin-light-green .source-list .source-list-item .btn-delete:hover {
	background-color: #fff;
}
.skin-light-green .source-list .source-list-item .btn-delete:active {
	background-color: #fcfcfc;
}
#picture-viewer-window.skin-light-green {
	background-color: #222;
}
#picture-viewer-window.skin-light-green .window-navbar {
	background-color: rgba(0,0,0,0.5);
}
#picture-viewer-window.skin-light-green .zoom-btn-group {
	background-color: rgba(0,0,0,0.8);
	border-color: transparent;
	padding: 2px;
}
#picture-viewer-window.skin-light-green .icon-btn .icon {
	color: #fff;
	background-color: transparent;
}
#picture-viewer-window.skin-light-green .icon-btn:hover {
	background-color: rgba(255,255,255,0.3);
}
#picture-viewer-window.skin-light-green .icon-btn:active {
	background-color: rgba(255,255,255,0.5);
}
#picture-viewer-window.skin-light-green .icon-btn:disabled .icon,
#picture-viewer-window.skin-light-green .icon-btn:disabled:hover .icon,
#picture-viewer-window.skin-light-green .icon-btn:disabled:active .icon {
	color: #888;
}
#picture-viewer-window.skin-light-green .icon-btn:disabled,
#picture-viewer-window.skin-light-green .icon-btn:disabled:hover,
#picture-viewer-window.skin-light-green .icon-btn:disabled:active {
	background-color: transparent;
}
.skin-light-green .message textview {
	color: #fff;
}
.skin-light-green .message.box {
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0 0 8px rgba(0,0,0,0.8);
}
#picture-info-panel.skin-light-green {
	background-color: #323232;	
}
#picture-info-panel.skin-light-green textview {
	color: #fff;
}
#picture-info-panel.skin-light-green .btn-link textview {
	color: #44BB55;
}
#picture-info-panel.skin-light-green .btn-link:hover textview {
	color: #2E7D39;
}
#picture-info-panel.skin-light-green .info-item .info-item-name {
	color: #888;
}
.skin-light-green.panel .panel-header {
	box-shadow: 0 0 4px rgba(0,0,0,0.4);
}