.window {
	background-color: #eff3f5;
	height: 100%;
	width: 100%;
}
.sidebar {
	width: 256px;
	height: 100%;
	background-color: #fff;
	position: absolute;
}
.sidebar-mini {
	width: 48px;
}
.sidebar .sidebar-item {
	width: 256px;
	padding: 8px 0;
}
.sidebar sidebar-toggle {
	padding: 8px 0;
	display: inline-block;
}
.sidebar sidebar-toggle .icon,
.sidebar .sidebar-item .icon,
.sidebar .sidebar-item .text {
	display: inline-block;
	font-size: 14px;
	line-height: 28px;
	color: #515253;
}
.sidebar .sidebar-title {
	font-size: 20px;
	line-height: 48px;
}
.sidebar .sidebar-item .icon,
.sidebar sidebar-toggle .icon {
	width: 48px;
	font-size: 20px;
	text-align: center;
	padding: 2px 0 0 0;
}
.sidebar .sidebar-item:hover textview,
.sidebar .sidebar-item:active textview {
	color: #262626;
}
.sidebar .sidebar-item:hover, .sidebar sidebar-toggle:hover {
	background-color: #fbfbfb;
}
.sidebar .sidebar-item:active, .sidebar sidebar-toggle:active {
	background-color: #f3f3f3;
}
.sidebar-item .text {
	font-family: Microsoft YaHei;
}
.view {
	padding: 0 0 0 48px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.view .view-navbar {
	top: 0;
	left: 48px;
	width: 100%;
	height: 48px;
	position: absolute;
	background-color: #fafafa;
	box-shadow: 0 0 3px rgba(0,0,0,0.6);
}
.view .view-body {
	height: 100%;
	width: 100%;
	padding: 48px 0 0 15px;
	box-sizing: border-box;
}
.view .view-content-wrapper {
	width: 100%;
	height: 100%;
}
.view .view-content {
	width: 100%;
	padding: 15px 0 0 0;
}
.view .item-group {
	padding: 0 10px;
	margin: 0 0 15px 0;
}
.view-navbar .view-navbar-title {
	font-size: 16px;
	line-height: 48px;
	padding: 0 0 0 25px;
}
.view-body .title {
	font-size: 20px;
	line-height: 32px;
	height: 32px;
	margin: 0 0 10px 10px;
}
.view-navbar .view-navbar-btn {
	height: 48px;
	width: 48px;
	text-align: center;
	display: inline-block;
	padding: 2px 0 0 0;
}
.view-navbar .view-navbar-btn .icon {
	font-size: 24px;
	line-height: 48px;
	height: 48px;
	width: 48px;
	text-align: center;
}
.source-list {
	margin: 0 0 15px 0;
}
.source-list .source-list-item {
	width: 340px;
}
.source-list .source-list-item .text {
	width: 240px;
}
.source-list .source-list-item:hover {
	background-color: #fcfcfc;
}
.source-list .source-list-item .btn-delete {
	top: 0;
	right: 0;
	width: 48px;
	height: 100%;
	position: absolute;
	text-align: center;
}
.source-list .source-list-item .btn-delete:hover {
	background-color: #f8f8f8;
}
.source-list .source-list-item .btn-delete:active {
	background-color: #f3f3f3;
}
.source-list .source-list-item textview {
	line-height: 48px;
}
.source-list .source-list-item .icon {
	font-size: 24px;
	padding: 0 8px;
	width: 24px;
	display: inline-block;
	text-align: center;
}
.source-list .source-list-item .text {
	display: inline-block;
}
.folder-list .folder-list-item {
	width: 300px;
	height: 134px;
	display: inline-block;
	background-color: #f0f0f0;
	margin: 0 10px 10px 0;
	border: 1px solid #eee;
}
.folder-list .folder-list-item .info {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 54px;
	position: absolute;
	background-color: #fff;
	border-top: 1px solid #eee;
	padding: 10px 50px 10px 10px;
	box-sizing: border-box;
}
.folder-list .folder-list-item .info .icon {
	top: 10px;
	right: 10px;
	width: 34px;
	height: 34px;
	font-size: 30px;
	text-align: center;
	line-height: 34px;
	position: absolute;
	color: #888;
}
.folder-list .folder-list-item .info .path {
	color: #888;
	font-size: 13px;
}
.folder-list .folder-list-item .info .path,
.folder-list .folder-list-item .info .name {
	width: 190px;
}
.folder-info-box {
	margin: 0 0 10px 0;
}
.folder-info-box-name {
	font-size: 18px;
}
.folder-info-box-path {
	color: #888;
}
.alert {
	top: 20px;
	right: 20px;
	position: absolute;
	padding: 10px;
	background-color: #fafafa;
	border: 1px solid #eee;
}
.alert .alert-title {
	font-size: 16px;
}
.alert .alert-text {
	color: #888;
	font-size: 13px;
	display: block;
}
.pull-right {
	top: 0;
	right: 0;
	height: 100%;
	position: absolute;
}
.hide {
	display: none;
	visible: false;
}
textview {
	font-size: 14px;
}
.btn-link textview {
	color: #007acc;
	padding: 4px 0;
}
.btn-link:hover textview {
	color: #23527c;
}
.container {
	background-color: #fff;
	width: 100%;
	height: 100%;
}