.window {
	background-color: #eff3f5;
	height: 100%;
	width: 100%;
}
.sidebar {
	width: 256px;
	height: 100%;
	background-color: #fff;
	position: absolute;
	z-index: 100;
}
.sidebar-mini {
	width: 48px;
}
.sidebar .sidebar-item {
	width: 256px;
	padding: 8px 0;
}
.sidebar .sidebar-header {
	width: 256px;
}
.sidebar sidebar-toggle {
	padding: 8px 0;
	display: inline-block;
}
.sidebar sidebar-toggle .icon,
.sidebar .sidebar-item .icon,
.sidebar .sidebar-item .text {
	display: inline-block;
	font-size: 14px;
	line-height: 28px;
	color: #515253;
}
.sidebar .sidebar-title {
	font-size: 20px;
	line-height: 48px;
	display: inline-block;
}
.sidebar .sidebar-item .icon,
.sidebar sidebar-toggle .icon {
	width: 48px;
	font-size: 20px;
	text-align: center;
	padding: 2px 0 0 0;
}
.sidebar .sidebar-item:hover textview,
.sidebar .sidebar-item:active textview {
	color: #262626;
}
.sidebar .sidebar-item:hover, .sidebar sidebar-toggle:hover {
	background-color: #fbfbfb;
}
.sidebar .sidebar-item:active, .sidebar sidebar-toggle:active {
	background-color: #f3f3f3;
}
.sidebar-item .text {
	font-family: Microsoft YaHei;
}
.view {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 0 0 0 48px;
	box-sizing: border-box;
}
.view .view-navbar {
	top: 0;
	left: 48px;
	width: 100%;
	height: 48px;
	position: absolute;
	background-color: #fafafa;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.6);
}
.view .view-body {
	height: 100%;
	width: 100%;
	padding: 48px 0 0 0;
	box-sizing: border-box;
}
.view .view-content-wrapper {
	width: 100%;
	height: 100%;
}
.view .view-content {
	width: 100%;
	padding: 15px 25px 0 25px;
	box-sizing: border-box;
}
.view .item-group {
	margin: 0 0 15px 0;
	box-sizing: border-box;
	width: 100%;
}
.view-navbar .view-navbar-title {
	font-size: 16px;
	line-height: 48px;
	padding: 0 0 0 25px;
}
.view-body .title {
	font-size: 20px;
	line-height: 32px;
	height: 32px;
	margin: 0 0 10px 0;
}
.view-navbar .view-navbar-btn {
	height: 48px;
	width: 48px;
	text-align: center;
	display: inline-block;
	padding: 2px 0 0 0;
}
.view-navbar .view-navbar-btn .icon {
	font-size: 24px;
	line-height: 48px;
	height: 48px;
	width: 48px;
	text-align: center;
}
.source-list {
	margin: 0 0 15px -10px;
}
.source-list .source-list-item {
	width: 340px;
	padding: 12px 0;
}
.source-list .source-list-item .text {
	width: 240px;
	display: inline-block;
	line-height: 24px;
	min-height: 24px;
}
.source-list .source-list-item:hover {
	background-color: #fafafa;
}
.source-list .source-list-item:active {
	background-color: #f0f0f0;
}
.source-list .source-list-item .btn-delete {
	top: 12px;
	right: 0;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	position: absolute;
	vertical-align: middle;
}
.source-list .source-list-item .btn-delete:hover {
	background-color: #f3f3f3;
}
.source-list .source-list-item .btn-delete:active {
	background-color: #eee;
}
.source-list .source-list-item .icon {
	font-size: 24px;
	padding: 0 8px;
	width: 24px;
	line-height: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
}
.file-list {
	width: 100%;
	margin: 0 0 20px 0;
}
.file-list .file-list-item-folder {
	width: 300px;
	height: 134px;
	display: inline-block;
	background-size: cover;
	background-color: #f0f0f0;
	background-position: top center;
	margin: 0 10px 10px 0;
	border: 1px solid #eee;
	box-sizing: border-box;
}
.file-list .file-list-item-folder .info {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 54px;
	position: absolute;
	background-color: rgba(255,255,255,0.85);
	border-top: 1px solid #eee;
	padding: 10px 50px 10px 10px;
	box-sizing: border-box;
}
.file-list .file-list-item-folder .info .icon {
	top: 10px;
	right: 10px;
	width: 34px;
	height: 34px;
	font-size: 30px;
	text-align: center;
	line-height: 34px;
	position: absolute;
	color: #888;
}
.file-list .file-list-item-folder .info .path {
	color: #888;
	font-size: 13px;
}
.file-list .file-list-item-folder .info .path,
.file-list .file-list-item-folder .info .name {
	width: 190px;
}
.file-list .file-list-item-picture {
	height: 226px;
	width: 226px;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0);
	background-position: top center;
	box-sizing: border-box;
	background-size: cover;
	background-color: #eee;
}
.file-list .file-list-item-picture .picture-cover {
	top: 0;
	left: 0; 
	width: 100%;
	height: 100%;
	position: absolute;
	box-sizing: border-box;
	border: 2px solid rgba(0,0,0,0);
}
.file-list .file-list-item-picture .picture-cover:hover {
	top: 0;
	left: 0; 
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid #ddd;
}
.file-list .divider {
	width: 100%;
	display: block;
	height: 10px;
}
.file-list .full-width {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}
.time-separator-title {
	font-size: 18px;
	margin: 30px 0 5px 0;
}
.time-separator-subtitle {
	color: #666;
	width: 100%;
	display: block;
}
.hide-path .info .path {
	display: none;
}
.hide-path .info .name {
	height: 34px;
	line-height: 34px;
}
.full-height {
	height: 100%;
}
.folder-info-box {
	top: 50px;
	width: 100%;
	display: none;
	position: absolute;
	padding: 10px 25px 0 25px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.folder-info-box-name {
	font-size: 18px;
}
.folder-info-box-path {
	color: #888;
}
.show-folder-info-box .view-body {
	padding-top: 148px;
}
.show-folder-info-box .view-content {
	padding-top: 20px;
}
.show-folder-info-box .folder-info-box {
	display: block;
}
.alert {
	top: 60px;
	right: 20px;
	position: absolute;
	padding: 10px;
	min-width: 164px;
	background-color: #fafafa;
	border: 1px solid #eee;
}
.alert .alert-title {
	font-size: 16px;
}
.alert .alert-text {
	color: #888;
	font-size: 13px;
	display: block;
}
.pull-right {
	top: 0;
	right: 0;
	height: 100%;
	position: absolute;
}
.hide {
	display: none;
}
textview {
	font-size: 14px;
}
.text-muted {
	color: #888;
}
.text-line {
	margin-bottom: 5px;
	width: 100%;
}
.text-line textview {
	display: inline-block;
}
.btn {
	padding: 8px 14px;
}
.btn-link {
	padding-left: 0;
	padding-right: 0;
	margin-right: 20px;
}
.btn-link textview {
	color: #007acc;
	padding: 4px 0;
}
.btn-link:hover textview {
	color: #23527c;
}
.btn-default {
	background-color: #eee;
}
.btn-default:hover {
	background-color: #ccc;
}
.btn-default:active {
	background-color: #aaa;
}
.disabled,
.disabled:hover,
.disabled:active {
	background-color: #eee;
}
.disabled textview,
.disabled:hover textview,
.disabled:active textview {
	color: #ccc;
}
.btn-group .btn {
	display: inline-block;
}
.container {
	background-color: #fff;
	width: 100%;
	height: 100%;
}
.dialog {
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.dialog-content {
	width: 100%;
	padding: 25px;
	vertical-align: middle;
	background-color: #fff;
	max-width: 450px;
	margin: 0 auto;
	box-sizing: border-box;
}
.dialog-content .dialog-header {
	margin-bottom: 20px;
	width: 100%;
}
.dialog-content .dialog-body {
	margin-bottom: 20px;
	width: 100%;
}
.dialog-content .dialog-header textview {
	font-size: 18px;
}
.dialog-content .dialog-body textview {
	font-size: 14px;
	width: 100%;
}
.dialog-content .dialog-btn {
	width: 100%;
	height: 30px;
	border: 1px sold #e00;
}
.dialog-content .dialog-footer {
	width: 100%;
}
.dialog-content .dialog-btn-group {
	width: 50%;
	height: 30px;
	display: inline-block;
	padding: 0 4px;
	box-sizing: border-box;
}
.dialog-content .dialog-btn-group:first-child {
	padding-left: 0;
}
.dialog-content .dialog-btn-group:last-child {
	padding-right: 0;
}
.dialog-content .dialog-btn {
	background-color: #ddd;
	box-sizing: border-box;
	border: 2px solid #ddd;
}
.dialog-content .dialog-btn:hover {
	border: 2px solid #aaa;
}
.dialog-content .dialog-btn:active {
	background-color: #aaa;
}
.dialog-content .dialog-btn textview {
	width: 100%;
	text-align: center;
	line-height: 30px;
}

#view-home-content textview:first-child {
	margin-top: 0;
}

#picture-viewer-window {
	top: 0;
	left: 0;
	z-index: 10;
	position: absolute;
}
#picture-viewer-window .window-navbar {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 48px;
	position: absolute;
	background-color: rgba(255,255,255,0.6);
}
#picture-viewer-window .picture-option-group {
	position: absolute;
	right: 10px;
	bottom: 10px;
	border: 1px solid #eee;
}
#picture-viewer-window .window-body,
#picture-viewer-window .picture-container {
	width: 100%;
	height: 100%;
}
#picture-viewer-window .picture-container {
	background-position: center;
	background-size: auto;
}
#picture-viewer-window .picture-option-btn {
	display: inline-block;
	background-color: rgba(255,255,255,0.6);
}
#picture-viewer-window .picture-option-btn .icon {
	color: #444;
	width: 42px;
	height: 32px;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
}
#picture-viewer-window .picture-option-btn:hover {
	background-color: #fff;
}
#picture-viewer-window .picture-option-btn:active {
	background-color: #f0f0f0;
}
#picture-viewer-window .contain-mode {
	background-size: contain;
	background-position: center;
}
#picture-viewer-window .window-navbar-btn .icon {
	color: #444;
	width: 48px;
	height: 48px;
	font-size: 24px;
	line-height: 48px;
	text-align: center;
}
#picture-viewer-window .window-navbar-btn:hover {
	background-color: #fff;
}
#picture-viewer-window .window-navbar-btn:active {
	background-color: #f0f0f0;
}
#picture-viewer-window .window-navbar-btn {
	display: inline-block;
}
#picture-loading-tip {
	margin: 0 auto;
	padding: 6px 15px;
	position: absolute;
	vertical-align: middle;
	background-color: rgba(255,255,255,0.8);
}
#picture-loading-tip textview {
	color: #333;
	font-size: 14px;
	line-height: 48px;
}

#test-widget {
	width: 100px;
	height: 100px;
	background-color: #ddd;
	position: absolute;
}
.test-box-root {
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	width: 500px;
	height: 500px;
}
.test-box-1 {
	margin-left: 50px;
	margin-top: 50px;
	width: 300px;
	height: 300px;
	background-color: #fff;
	border: 1px solid #ddd;
}
.test-box-1 {
	margin-left: 50px;
	margin-top: 50px;
	width: 300px;
	height: 300px;
	background-color: #fff;
	border: 1px solid #ddd;
}

.test-box-2 {
	margin-left: 50px;
	margin-top: 50px;
	width: 100px;
	height: 100px;
	background-color: #f00;
	border: 1px solid #ddd;
}