.hide-path .info .path {
	display: none;
}
.hide-path .info .name {
	height: 34px;
	line-height: 34px;
}
.folder-info-box {
	top: $view-navbar-height;
	width: 100%;
	display: none;
	position: absolute;
	padding: $spacing $gutter-width $spacing $gutter-width;
	background-color: #fff;
}
.folder-info-box-name {
	font-size: $folder-info-box-name-size;
	display: block;
}
.folder-info-box-path {
	color: $gray-600;
	display: block;
}
.show-folder-info-box {
	.view-body {
		padding-top: $view-navbar-height + $folder-info-box-height;
	}
	.folder-info-box {
		display: block;
	}
}
