.tag-thumb-list {
	width: 100%;
}
.tag-thumb {
	min-width: 100px;
	display: inline-block;
	margin: 0 $spacing $spacing 0;
	box-sizing: border-box;
}
.tag-thumb-cover {
	height: 162px;
	background-color: #f0f0f0;
	background-size: cover;
}
.tag-thumb-info {
	.text {
		line-height: 18px;
		font-weight: 500;
		display: block;
		padding: #{$spacing / 2} 0 0 0;
	}
	.count {
		color: $gray-600;
	}
}
.tag-thumb-dimmer {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.1);
}
.tag-thumb-checkbox {
	color: #fff;
	width: 100%;
	font-size: 48px;
	position: absolute;
	text-align: center;
	vertical-align: middle;
}
.tag-thumb:hover .tag-thumb-dimmer {
	display: block;
}
.tag-thumb.selected {
	.tag-thumb-checkbox {
		color: $primary-color;
	}
	.tag-thumb-dimmer {
		display: block;
		background-color: rgba(0,0,0,0.1);
	}
}
.search-panel {
	left: 0;
	top: 50px;
	width: 100%;
	padding: 0 15px;
	position: absolute;
	box-sizing: border-box;

	.search-input-group {
		width: 100%;
		box-sizing: border-box;
		padding: 10px 87px 10px 10px;

		.search-input {
			width: 100%;
			padding: 10px;
			z-index: 1;
			box-sizing: border-box;
		}
		.btn {
			top: 10px;
			right: 10px;
			height: 40px;
			position: absolute;
			box-sizing: border-box;
			z-index: 0;

			.text {
				line-height: 22px;
			}
		}
		.btn:hover {
			z-index: 2;
		}
	}
}
#view-search .view-body {
	padding-top: 110px;
}
#view-search .subview .view-body {
	padding-top: 48px;
}
#view-search-result .view-navbar-title {
	border-left: 1px solid #373D3E;
	padding-left: 15px;
}
