.tag-thumb-list {
	width: 100%;
}
.tag-thumb-list-item {
	min-width: 100px;
	min-height: 140px;
	display: inline-block;
	margin: 0 10px 10px 0;
	background-color: #f0f0f0;
	background-size: cover;
	border: 1px solid #eee;
	box-sizing: border-box;
}
.tag-thumb-list-item-info {
	left: 0;
	bottom: 0;
	width: 100%;
	min-height: 24px;
	padding: 5px 10px;
	position: absolute;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.4);
}
.tag-thumb-list-item-cover {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	box-sizing: border-box;
	border: 1px solid #ccc;
	background-color: rgba(255,255,255,0.4);
}
.tag-thumb-list-item-checkbox {
	display: none;
	position: absolute;
	font-size: 48px;
	color: #888;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
.tag-thumb-list-item .mdi-checkbox-marked {
	display: none;
}
.tag-thumb-list-item:hover .tag-thumb-list-item-cover {
	display: block;
}
thumbviewitem.selected {
	.tag-thumb-list-item-checkbox {
		display: block;
	}
	.tag-thumb-list-item-cover {
		display: block;
		background-color: rgba(255,255,255,0.8);
	}
}
.tag-thumb-list-item-info {
	.text {
		color: #fff;
		line-height: 18px;
		display: inline-block;
	}
	.count {
		position: absolute;
		right: 10px;
		top: 5px;
	}
}
.search-panel {
	left: 0;
	top: 50px;
	width: 100%;
	padding: 0 15px;
	position: absolute;
	box-sizing: border-box;

	.search-input-group {
		width: 100%;
		box-sizing: border-box;
		padding: 10px 87px 10px 10px;

		.search-input {
			width: 100%;
			padding: 10px;
			z-index: 1;
			box-sizing: border-box;
		}
		.btn {
			top: 10px;
			right: 10px;
			height: 40px;
			position: absolute;
			box-sizing: border-box;
			z-index: 0;

			.text {
				line-height: 22px;
			}
		}
		.btn:hover {
			z-index: 2;
		}
	}
}
#view-search .view-body {
	padding-top: 110px;
}
#view-search .subview .view-body {
	padding-top: 48px;
}
#view-search-result .view-navbar-title {
	border-left: 1px solid #373D3E;
	padding-left: 15px;
}
