.tag-thumb-list {
	width: 100%;
}
.tag-thumb {
	min-width: 100px;
	display: inline-block;
	margin: 0 $spacing $spacing 0;
	box-sizing: border-box;
}
.tag-thumb-cover {
	height: 162px;
	background-color: #f0f0f0;
	background-size: cover;
}
.tag-thumb-info {
	.text {
		line-height: 18px;
		font-weight: 500;
		display: block;
		padding: #{$spacing / 2} 0 0 0;
	}
	.count {
		color: $gray-600;
	}
}
.tag-thumb-dimmer {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.1);
}
.tag-thumb-checkbox {
	color: #fff;
	width: 100%;
	font-size: 48px;
	position: absolute;
	text-align: center;
	vertical-align: middle;
}
.tag-thumb:hover .tag-thumb-dimmer {
	display: block;
}
.tag-thumb.selected {
	.tag-thumb-checkbox {
		color: $primary-color;
	}
	.tag-thumb-dimmer {
		display: block;
		background-color: rgba(0,0,0,0.1);
	}
}

$search-input-group-padding-y: 5px;
$search-input-line-height: $font-size * 1.5;
$search-input-padding-x: 8px;
$search-input-padding-y: ($view-navbar-line-height - 
	($search-input-group-padding-y + 1px) * 2 - $search-input-line-height) / 2;
$search-input-icon-width: 24px;
$search-input-icon-height: $search-input-line-height;

.search-input-group {
	width: 40%;
	max-width: 400px;
	padding: 5px;
	margin: 0 -5px;
	box-sizing: border-box;
}
.search-input {
	width: 100%;
	box-sizing: border-box;
	padding: $search-input-padding-y 
		#{$search-input-padding-x * 2 + $search-input-icon-width * 2}
		$search-input-padding-y $search-input-padding-x;
}
.search-input-addon-group {
	position: absolute;
	top: $search-input-group-padding-y;
	right: $search-input-padding-x + 5px;
	padding: $search-input-padding-y 0;

	.icon-btn {
		color: $gray-600;
		font-size: 20px;
		display: inline-block;
		width: $search-input-icon-width;
		height: $search-input-icon-height;
		line-height: $search-input-icon-height;
		text-align: center;
		margin-left: $search-input-padding-x;

		&:hover {
			color: $primary-color;
		}
		&:active {
			color: darken($primary-color, 20%);
		}
	}
}
