.task-list {
	.taskitem {
		max-width: #{$main-container-width + $gutter-width};
		padding-left: $item-padidng-x;
		padding-right: $item-padidng-x;

		&:hover {
			background-color: #f9f9f9;
		}
	}
}
.task-list {
	margin: 0 #{-$item-padidng-x};
}
#view-settings-content.view-content {
	padding-left: 0;
}
.setting-group {
	width: 100%;
	margin-bottom: $spacing;
	padding-left: $gutter-width;

	.link {
		margin-left: $spacing;

		&:first-child {
			margin-left: 0;
		}
	}
	.items {
		max-width: #{$main-container-width + $gutter-width};
	}
}
.setting-group-item {
	margin-bottom: $spacing;
	padding-left: $gutter-width;
	margin-left: -$gutter-width;
}
.on-models-available,
.on-models-unavailable {
	display: none;
}
.models-available .on-models-available,
.models-unavailable .on-models-unavailable {
	display: block;
}
