.source-list {
	margin: 0 0 $spacing #{-$gutter-width / 2};
}
.source-list-item {
	width: 340px;
	padding: 12px 0 12px #{$gutter-width / 2};

	.text {
		width: 240px;
		display: inline-block;
		line-height: 24px;
		min-height: 24px;
	}
	&:hover {
		background-color: #fdfdfd;
	}
	&:active {
		background-color: #fafafa;
	}
	.icon {
		font-size: 24px;
		width: 24px;
		height: 24px;
		line-height: 24px;
		display: inline-block;
		vertical-align: middle;
	}
	.icon:first-child {
		margin-right: $spacing / 2;
	}
	.icon.button {
		top: 12px;
		right: 0;
		width: 48px;
		height: 48px;
		padding: 0;
		font-size: 14px;
		line-height: 48px;
		text-align: center;
		position: absolute;
		vertical-align: middle;

		&:hover {
			background-color: #f3f3f3;
		}
		&:active {
			background-color: #eee;
		}
	}
	.btn-delete:hover {
		background-color: #fff;
	}
	.btn-delete:active {
		background-color: #fcfcfc;
	}
}
#view-settings-content.view-content {
	padding-left: 0;
}
.setting-group {
	width: 100%;
	margin-bottom: $spacing;
	padding-left: $gutter-width;

	.link {
		margin-left: $spacing;

		&:first-child {
			margin-left: 0;
		}
	}
}
