<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="23902LCsSoftware.LCsFinder" Publisher="CN=CD763D14-D031-4CC5-ACDD-C84A9B145D5B" Version="2.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="1fd1d703-cff4-4389-955a-b062d7a5112c" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>LC's Finder</DisplayName>
    <PublisherDisplayName>LC's Software</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="UWP.App">
      <uap:VisualElements DisplayName="LC's Finder" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="A lightweight image manager" BackgroundColor="#3498db">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="LC's Finder">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#ffffff" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation" EntryPoint="UWP.App">
          <uap:FileTypeAssociation Name="image">
            <uap:DisplayName>LC's Finder</uap:DisplayName>
            <uap:InfoTip>Open with LC's Finder</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="image/jpeg">.jpeg</uap:FileType>
              <uap:FileType ContentType="image/jpeg">.jpg</uap:FileType>
              <uap:FileType ContentType="image/png">.png</uap:FileType>
              <uap:FileType ContentType="image/bmp">.bmp</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="removableStorage" />
  </Capabilities>
</Package>