root {
  min-width: 375px;
  min-height: 640px;
}

.pull-right, .right.floated {
  top: 0;
  right: 0;
  height: 100%;
  position: absolute;
}

.floating {
  z-index: 10;
  position: absolute;
}

.center.aligned {
  margin: 0 auto;
}

.middle.aligned {
  vertical-align: middle;
}

.hide {
  display: none;
}

.full-width, .fluid {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.full-height {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

.window {
  height: 100%;
  width: 100%;
}

i, b, a, p, h1, h2, h3, h4, h5, h6, label, cite, strong, textview, textedit, password, button, textview-i18n, .text, .icon, .link {
  font-size: 14px;
}

textview-i18n, .link {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, Ubuntu, "Microsft YaHei", "Malgun Gothic", "Noto Sans CJK SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", simsun;
}

.text-muted {
  color: #868e96;
}

.text-line {
  width: 100%;
  max-width: 440px;
  margin-bottom: 5px;
}

.text-line .text {
  display: inline-block;
}

.text-paragraph {
  margin-bottom: 20px;
}

.link {
  display: inline-block;
}

.link,
.link .icon,
.link .text {
  color: #1890ff;
}

.link:hover,
.link .icon:hover,
.link .text:hover {
  color: #0076e4;
}

.link:active,
.link .icon:active,
.link .text:active {
  color: #005cb1;
}

.tag-list {
  margin-top: 5px;
}

.tag-list-item {
  display: inline-block;
  background-color: #f8f9fa;
  margin: 0 5px 5px 0;
}

.tag-list-item .text, .tag-list-item textview {
  color: #495057;
  display: inline-block;
  padding: 3px 8px;
  font-size: 13px;
}

.tag-list-item .text:first-child, .tag-list-item textview:first-child {
  padding-right: 0;
}

.tag-list-item .btn-delete {
  color: #bbb;
  text-align: center;
  pointer-events: auto;
  display: inline-block;
}

.tag-list-item .btn-delete:hover {
  color: #999;
}

.tag-list-item .btn-delete:active {
  color: #777;
}

.tag-list-item:hover {
  background-color: #e9ecef;
}

.switch {
  width: 44px;
  height: 20px;
  display: inline-block;
  border: 2px solid #d4dadd;
  background-color: #d4dadd;
}

.switch .switch-bar {
  left: -24px;
  height: 100%;
  width: 64px;
  position: relative;
}

.switch .switch-slider {
  width: 16px;
  height: 100%;
  background-color: #8c9da5;
}

.switch:hover {
  border-color: #44BB55;
}

.switch.checked {
  border-color: #a2ddaa;
  background-color: #a2ddaa;
}

.switch.checked .switch-slider {
  background-color: #44BB55;
}

.switch.checked .switch-bar {
  left: 0;
}

.switch .switch-on-block,
.switch .switch-off-block {
  width: 24px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 16px;
}

.switch .switch-on-block,
.switch .switch-off-block,
.switch .switch-slider {
  display: inline-block;
}

.switch-text {
  margin-left: 7.5px;
  line-height: 20px;
}

.app-alert {
  top: 69px;
  right: 20px;
  position: absolute;
  min-width: 180px;
}

.app-alert .alert-header {
  font-size: 14px;
  font-weight: 500;
}

.app-alert .alert-text {
  font-size: 13px;
}

progress {
  width: 100%;
  height: 14px;
  display: block;
  background-color: #fbfbfb;
}

progressbar {
  width: 100%;
  height: 100%;
  background-color: #1890ff;
}

.dialog {
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog-content {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 10px;
  vertical-align: middle;
  background-color: #fff;
  box-sizing: border-box;
}

.dialog-content .text-block {
  margin-bottom: 15px;
}

.dialog-content .dialog-header {
  width: 100%;
  padding: 15px 15px 5px 15px;
  box-sizing: border-box;
}

.dialog-content .dialog-body {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}

.dialog-content .dialog-footer {
  width: 100%;
  padding: 5px 15px 15px 15px;
  box-sizing: border-box;
}

.dialog-content .input-group {
  padding: 5px 15px;
  box-sizing: border-box;
  margin: -5px -15px 10px -15px;
}

.dialog-content .input-group:last-child {
  margin-bottom: 0;
}

.dialog-content .input-group .message {
  padding-top: 5px;
}

.dialog-content .input-group .error.message {
  color: #fff;
  padding: 4px 10px;
  font-size: 13px;
  background-color: #FD4C4C;
  box-sizing: border-box;
  display: none;
}

.dialog-content .input-group.error textedit,
.dialog-content .input-group.error textedit:active,
.dialog-content .input-group.error textedit:focus,
.dialog-content .input-group.error textedit:hover {
  border-color: #FD4C4C;
  box-shadow: none;
}

.dialog-content .input-group.error .error.message {
  display: block;
}

.dialog-content .dialog-header .text, .dialog-content .dialog-header textview {
  font-size: 18px;
}

.dialog-content .dialog-body .text, .dialog-content .dialog-body textview, .dialog-content .dialog-body button {
  font-size: 14px;
  width: 100%;
}

.dialog-content .dialog-btn-group {
  width: 50%;
  height: 30px;
  display: inline-block;
  padding: 0 4px;
  box-sizing: border-box;
}

.dialog-content .dialog-btn-group:first-child {
  padding-left: 0;
}

.dialog-content .dialog-btn-group:last-child {
  padding-right: 0;
}

.dialog-content .dialog-btn-group.one-button {
  width: 100%;
  display: block;
}

.dialog-content .dialog-btn-group.one-button .dialog-btn {
  width: 50%;
  margin: 0 auto;
}

.dialog-content .dialog-btn {
  width: 100%;
  height: 30px;
  padding: 0;
  line-height: 28px;
  text-align: center;
  box-sizing: border-box;
  background-color: #ddd;
  border: 2px solid #ddd;
}

.dialog-content .dialog-btn:hover {
  border: 2px solid #aaa;
}

.dialog-content .dialog-btn:active {
  background-color: #aaa;
}

.dialog-content .dialog-btn:disabled {
  background-color: #eaeaea;
  border: 2px solid #eaeaea;
}

.dialog-content .dialog-btn:disabled {
  color: #bbb;
}

.dialog-content textedit.has-error:focus, .dialog-content textedit.has-error:hover, .dialog-content textedit.has-error:active {
  border-color: #a94442;
  box-shadow: 0 0 6px rgba(169, 68, 66, 0.4);
}

.dialog-content progress {
  width: 100%;
  height: 14px;
  display: block;
  background-color: #eee;
  margin-bottom: 5px;
}

textedit.dialog-input {
  box-sizing: border-box;
}

.message.box {
  padding: 15px 25px;
  background-color: rgba(255, 255, 255, 0.8);
}

.message.box progress {
  background-color: rgba(255, 255, 255, 0.5);
}

.message .text {
  color: #ccc;
  font-size: 14px;
  text-align: center;
}

.icon.message .icon {
  color: #ddd;
  display: block;
  font-size: 74px;
  text-align: center;
}

.dropdown-menu.checkable .icon,
.dropdown-menu.checkable .text {
  display: inline-block;
  line-height: 24px;
}

.dropdown-menu.checkable .dropdown-item,
.dropdown-menu.checkable .dropdown-header {
  padding-left: 15px;
}

.dropdown-menu.checkable .dropdown-item .icon {
  visibility: hidden;
  margin-right: 6px;
  font-size: 18px;
}

.dropdown-menu.checkable .dropdown-item.selected .icon {
  visibility: visible;
}

.dropdown-menu.checkable .dropdown-item:active .icon,
.dropdown-menu.checkable .dropdown-item:active .text, .dropdown-menu.checkable .dropdown-item.active .icon,
.dropdown-menu.checkable .dropdown-item.active .text {
  color: #fff;
}

.panel-header {
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  padding: 4px 15px;
  position: absolute;
  border-bottom: 1px solid #eee;
}

.panel-header-title {
  font-size: 16px;
  line-height: 46px;
}

.panel-body {
  padding-top: 54px;
  height: 100%;
  width: 100%;
}

.panel-content {
  width: 100%;
  padding: 15px 15px;
}

.panel-content-wrapper {
  width: 100%;
  height: 100%;
}

.panel-close-btn {
  top: 4px;
  right: 0;
  position: absolute;
}

.panel-close-btn .icon {
  font-size: 20px;
  line-height: 46px;
  width: 46px;
  text-align: center;
}

.panel-close-btn:hover .icon {
  color: #666;
}

.panel-close-btn:active {
  background-color: #f8f8f8;
}

.sidebar {
  width: 256px;
  height: 100%;
  z-index: 100;
  position: absolute;
  background-color: #fafafa;
  border-right: 1px solid #eee;
}

.sidebar-item {
  width: 256px;
  padding: 8px 0;
  border-left: 3px solid transparent;
}

.sidebar-item .icon {
  margin-left: -3px;
}

.sidebar-header {
  width: 256px;
}

sidebar-toggle {
  padding: 8px 0;
  display: inline-block;
}

.sidebar-title {
  font-size: 20px;
  line-height: 48px;
  display: inline-block;
}

.sidebar-item .icon,
.sidebar-item .text,
sidebar-toggle .icon,
sidebar-toggle .text {
  display: inline-block;
  line-height: 28px;
  color: #707070;
}

.sidebar-item .icon,
sidebar-toggle .icon {
  width: 48px;
  font-size: 20px;
  text-align: center;
}

.sidebar-item:hover,
sidebar-toggle:hover {
  border-color: rgba(0, 0, 0, 0.04);
  background-color: rgba(0, 0, 0, 0.04);
}

.sidebar-item:active,
sidebar-toggle:active {
  border-color: rgba(0, 0, 0, 0.06);
  background-color: rgba(0, 0, 0, 0.06);
}

.sidebar-item:hover .icon,
.sidebar-item:hover .text, .sidebar-item:active .icon,
.sidebar-item:active .text,
sidebar-toggle:hover .icon,
sidebar-toggle:hover .text,
sidebar-toggle:active .icon,
sidebar-toggle:active .text {
  color: #2e2e2e;
}

.sidebar-item:active,
sidebar-toggle:active {
  color: #1890ff;
}

.sidebar-item.active,
sidebar-toggle.active {
  border-color: #1890ff;
  background-color: rgba(24, 144, 255, 0.1);
}

.sidebar-item.active .icon,
.sidebar-item.active .text,
sidebar-toggle.active .icon,
sidebar-toggle.active .text {
  color: #1890ff;
}

.sidebar-mini {
  width: 48px;
}

.view {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0 0 0 48px;
  box-sizing: border-box;
  background-color: #fff;
}

.view-navbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  position: absolute;
  padding: 4px 20px 4px 68px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
}

.view-navbar .divider {
  width: 1px;
  display: inline-block;
  background-color: #eee;
  height: 100%;
  margin: 0 12px;
}

.view-navbar-actions {
  position: absolute;
  top: 4px;
  right: 20px;
}

.view-navbar-title {
  font-size: 18px;
  line-height: 46px;
  display: inline-block;
}

.view-navbar-text {
  font-size: 16px;
  line-height: 46px;
  display: inline-block;
}

.view-navbar-btn {
  display: inline-block;
  padding: 11px 7.5px;
}

.view-navbar-btn .text,
.view-navbar-btn .icon {
  color: #707070;
}

.view-navbar-btn .text {
  display: inline-block;
}

.view-navbar-btn .text {
  font-size: 16px;
  height: 24px;
}

.view-navbar-btn .icon {
  width: 24px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.view-navbar-btn:hover {
  background-color: #fbfbfb;
}

.view-navbar-btn:hover .text,
.view-navbar-btn:hover .icon {
  color: #2e2e2e;
}

.view-navbar-btn:active {
  background-color: #f8f8f8;
}

.view-body {
  height: 100%;
  width: 100%;
  padding: 54px 0 0 0;
  box-sizing: border-box;
}

.view-body .title {
  font-size: 20px;
  line-height: 32px;
  height: 32px;
  margin: 0 0 10px 0;
}

.view-body .title2 {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 5px 0;
}

.view-content-wrapper {
  width: 100%;
  height: 100%;
}

.view-content-wrapper progress.top-fixed {
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  position: absolute;
}

.view-content-wrapper progress.top-fixed progressbar {
  width: 0;
  height: 100%;
}

.view-content {
  width: 100%;
  padding: 15px 20px 0 20px;
  box-sizing: border-box;
}

.item-group {
  margin: 0 0 15px 0;
  box-sizing: border-box;
  width: 100%;
}

.subview {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  padding-left: 48px;
  background-color: #fff;
  box-sizing: border-box;
}

.subview .view-navbar {
  padding-left: 48px;
}

.subview .view-navbar-title {
  padding-left: 7.5px;
}

.file-list {
  width: 100%;
  margin: 0 -6px 20px -6px;
}

.file-list .divider {
  width: 100%;
  height: 12px;
  border: 0;
  background-color: transparent;
}

.file-folder {
  width: 300px;
  height: 136px;
  display: inline-block;
  background-size: cover;
  background-color: #f0f0f0;
  background-position: top center;
  margin: 6px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.file-folder .info {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  padding-right: 42px;
  box-sizing: border-box;
}

.file-folder .info .icon {
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  font-size: 30px;
  text-align: center;
  line-height: 32px;
  position: absolute;
  color: #868e96;
}

.file-folder .info .path {
  color: #868e96;
  font-size: 13px;
}

.file-folder .info .path, .file-folder .info .name {
  line-height: 18px;
  width: 238px;
}

.file-folder:hover {
  top: -2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.file-folder:active {
  top: 0;
  opacity: 0.6;
}

.file-picture {
  height: 226px;
  width: 226px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0);
  background-position: top center;
  box-sizing: border-box;
  background-size: cover;
  background-color: #eee;
  margin: 6px;
}

.file-picture .picture-cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0);
}

.file-picture .picture-cover .icon.tip {
  color: #aaa;
  font-size: 32px;
}

.file-picture .checkbox {
  top: 10px;
  right: 10px;
  color: #aaa;
  width: 24px;
  height: 24px;
  display: none;
  line-height: 22px;
  font-size: 20px;
  position: absolute;
  border: 2px solid #aaa;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
}

.file-picture .checkbox:hover {
  border-color: #888;
  background-color: rgba(255, 255, 255, 0.9);
}

.file-picture .checkbox:active {
  border-color: #888;
  background-color: #fff;
}

.file-picture.selected .picture-cover {
  border-color: #1890ff;
  background-color: rgba(24, 144, 255, 0.1);
}

.file-picture.selected .checkbox {
  color: #fff;
  border-color: #1890ff;
  background-color: #1890ff;
}

.file-picture:hover .picture-cover {
  border-color: #1890ff;
}

.file-picture.selected .checkbox,
.file-picture:hover .checkbox {
  display: block;
}

.on-selection-mode {
  display: none;
}

.on-normal-mode {
  display: block;
}

.selection-mode .on-selection-mode {
  display: block;
}

.selection-mode .on-normal-mode {
  display: none;
}

.selection-mode .file-list-item-picture .checkbox {
  display: block;
}

.tag-thumb-list {
  width: 100%;
}

.tag-thumb {
  min-width: 100px;
  display: inline-block;
  margin: 0 15px 15px 0;
  box-sizing: border-box;
}

.tag-thumb-cover {
  height: 162px;
  background-color: #f0f0f0;
  background-size: cover;
}

.tag-thumb-info .text {
  line-height: 18px;
  font-weight: 500;
  display: block;
  padding: 7.5px 0 0 0;
}

.tag-thumb-info .count {
  color: #868e96;
}

.tag-thumb-dimmer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.1);
}

.tag-thumb-checkbox {
  color: #fff;
  width: 100%;
  font-size: 48px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
}

.tag-thumb:hover .tag-thumb-dimmer {
  display: block;
}

.tag-thumb.selected .tag-thumb-checkbox {
  color: #1890ff;
}

.tag-thumb.selected .tag-thumb-dimmer {
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
}

.search-input-group {
  width: 40%;
  max-width: 400px;
  padding: 5px;
  margin: 0 -5px;
  box-sizing: border-box;
}

.search-input {
  width: 100%;
  box-sizing: border-box;
  padding: 6.5px 64px 6.5px 8px;
}

.search-input-addon-group {
  position: absolute;
  top: 5px;
  right: 13px;
  padding: 6.5px 0;
}

.search-input-addon-group .icon-btn {
  color: #868e96;
  font-size: 20px;
  display: inline-block;
  width: 24px;
  height: 21px;
  line-height: 21px;
  text-align: center;
  margin-left: 8px;
}

.search-input-addon-group .icon-btn:hover {
  color: #1890ff;
}

.search-input-addon-group .icon-btn:active {
  color: #005cb1;
}

time-separator {
  display: block;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 15px;
  margin-bottom: 0;
}

time-separator:first-child {
  margin-top: 0;
}

.time-separator-title {
  font-size: 18px;
  line-height: 24px;
  display: block;
}

.time-separator-subtitle {
  color: #666;
  width: 100%;
  display: block;
}

#view-home-content .text:first-child {
  margin-top: 0;
}

.view-time-range {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fff;
}

.view-time-range .time-range-list {
  width: 100%;
}

.view-time-range .time-range {
  font-size: 18px;
  display: block;
  margin-bottom: 15px;
}

.hide-path .info .path {
  display: none;
}

.hide-path .info .name {
  height: 34px;
  line-height: 34px;
}

.folder-info-box {
  top: 54px;
  width: 100%;
  display: none;
  position: absolute;
  padding: 15px 20px 15px 20px;
  background-color: #fff;
}

.folder-info-box-name {
  font-size: 18px;
  display: block;
}

.folder-info-box-path {
  color: #868e96;
  display: block;
}

.show-folder-info-box .view-body {
  padding-top: 153px;
}

.show-folder-info-box .folder-info-box {
  display: block;
}

.source-list {
  margin: 0 0 15px -10px;
}

.source-list-item {
  width: 340px;
  padding: 12px 0 12px 10px;
}

.source-list-item .text {
  width: 240px;
  display: inline-block;
  line-height: 24px;
  min-height: 24px;
}

.source-list-item:hover {
  background-color: #f9f9f9;
}

.source-list-item:active {
  background-color: #f4f4f4;
}

.source-list-item .icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.source-list-item .icon:first-child {
  margin-right: 7.5px;
}

.source-list-item .icon.button {
  top: 12px;
  right: 0;
  width: 48px;
  height: 48px;
  padding: 0;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
  position: absolute;
  vertical-align: middle;
}

.source-list-item .icon.button:hover {
  background-color: #f4f4f4;
}

.source-list-item .icon.button:active {
  background-color: #eee;
}

#view-settings-content.view-content {
  padding-left: 0;
}

.setting-group {
  width: 100%;
  margin-bottom: 15px;
  padding-left: 20px;
}

.setting-group .link {
  margin-left: 15px;
}

.setting-group .link:first-child {
  margin-left: 0;
}

#picture-viewer-window {
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
}

#picture-viewer-window .window-navbar {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 56px;
  padding: 8px 12px 0 12px;
  position: absolute;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.6);
}

#picture-viewer-window .window-navbar .pull-right {
  top: 8px;
  right: 12px;
}

#picture-viewer-window .window-navbar-btn .text,
#picture-viewer-window .window-navbar-btn .icon {
  color: #444;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
}

#picture-viewer-window .window-navbar-btn.icon-btn .text {
  margin-left: 5px;
}

#picture-viewer-window .zoom-btn-group {
  margin: 0 auto;
  bottom: 10px;
  position: absolute;
  border: 1px solid #eee;
}

#picture-viewer-window .icon-btn:first-child,
#picture-viewer-window .zoom-btn-group .icon-btn {
  margin: 0;
}

#picture-viewer-window .window-body,
#picture-viewer-window .picture-container {
  width: 100%;
  height: 100%;
}

#picture-viewer-window .picture-container picture {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

#picture-viewer-window .picture-container picture:first-child {
  left: -100%;
}

#picture-viewer-window .picture-container picture:last-child {
  left: 100%;
}

#picture-viewer-window .picture-container {
  background-position: center;
  background-size: auto;
}

#picture-viewer-window .icon-btn .icon {
  color: #444;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

#picture-viewer-window .icon-btn:hover {
  background-color: #fff;
}

#picture-viewer-window .icon-btn:active {
  background-color: #f0f0f0;
}

#picture-viewer-window .icon-btn {
  display: inline-block;
  padding: 8px;
  margin-left: 8px;
}

#picture-viewer-window .picture-switch-btn {
  margin: 0;
  position: absolute;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.5);
}

#picture-viewer-window .picture-switch-btn.prev {
  left: 10px;
}

#picture-viewer-window .picture-switch-btn.next {
  right: 10px;
}

#picture-info-panel {
  top: 0;
  left: 0;
  width: 320px;
  z-index: 10;
  height: 100%;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

#picture-info-panel .info-item {
  margin-bottom: 15px;
}

#picture-info-panel .info-item:last-child {
  margin-bottom: 0;
}

#picture-info-panel .info-item-name {
  color: #868e96;
  display: block;
}

#picture-info-panel .info-item-value {
  display: block;
}

#picture-info-panel starrating .icon-star {
  color: #fd7e14;
}
