
.pull-right {
	top: 0;
	right: 0;
	height: 100%;
	position: absolute;
}
.hide {
	display: none;
}
.text, textview-i18n, textview {
	font-size: 14px;
	font-family: Microsoft YaHei;
}
.text-muted {
	color: #888;
}
.text-line {
	width: 100%;
	max-width: 440px;
	margin-bottom: 5px;
}
.text-line .text {
	display: inline-block;
}
.text-paragraph {
	margin-bottom: 20px;
}
.btn {
	display: inline-block;
	padding: 8px 14px;
}
.btn .text {
	display: inline-block;
}
.btn:disabled {
	background-color: #fff;
	border: 1px solid #dedede;
}
.btn:disabled .text {
	color: #7B7B7B;
}
.btn-link {
	padding: 0;
	margin-right: 20px;
}
textview.btn-link, 
textview-i18n.btn-link, 
.btn-link .text {
	color: #007acc;
	padding: 0;
}
textview.btn-link:hover,
textview-i18n.btn-link:hover,
.btn-link:hover .text {
	color: #23527c;
}
.btn-default {
	background-color: #eee;
	border: 2px solid #eee;
}
.btn-default:hover {
	background-color: #ccc;
	border-color: #aaa;
}
.btn-default:active {
	background-color: #aaa;
	border-color: #aaa;
}
.btn-basic {
	border: 1px solid #eaeaea;
	background-color: #fff;
}
.btn-basic:hover {
	border-color: #cbcbcb;
	background-color: #e6e6e6;
}
.btn-basic:acitve {
	background-color: #d7d7d7;
}
.btn-basic:disabled:hover,
.btn-basic:disabled:active {
	background-color: #fff;
	border-color: #eaeaea;
}
.btn-dropdown {
	border: 1px solid #ddd;
	background-color: #fff;
}
.btn-dropdown .default.text {
	min-width: 80px;
	display: inline-block;
}
.btn-dropdown .icon {
	display: inline-block;
}
.btn-dropdown:hover {
	border-color: #bbb;
}
.btn-dropdown.active {
	border-color: #aaa;
}
.disabled,
.disabled:hover,
.disabled:active {
	background-color: #eee;
}
.disabled .text,
.disabled:hover .text,
.disabled:active .text {
	color: #ccc;
}
.btn-group .btn {
	display: inline-block;
}
.container {
	background-color: #fff;
	width: 100%;
	height: 100%;
}
.window {
	background-color: #fff;
	height: 100%;
	width: 100%;
}
.sidebar {
	width: 256px;
	height: 100%;
	background-color: #fff;
	position: absolute;
	z-index: 100;
}
.sidebar-mini {
	width: 48px;
}
.sidebar .sidebar-item {
	width: 256px;
	padding: 8px 0;
}
.sidebar .sidebar-header {
	width: 256px;
}
.sidebar sidebar-toggle {
	padding: 8px 0;
	display: inline-block;
}
.sidebar sidebar-toggle .icon,
.sidebar .sidebar-item .icon,
.sidebar .sidebar-item .text {
	display: inline-block;
	line-height: 28px;
	color: #515253;
}
.sidebar .sidebar-title {
	font-size: 20px;
	line-height: 48px;
	display: inline-block;
}
.sidebar .sidebar-item .icon,
.sidebar sidebar-toggle .icon {
	width: 48px;
	font-size: 20px;
	text-align: center;
	padding: 2px 0 0 0;
}
.sidebar .sidebar-item:hover .text,
.sidebar .sidebar-item:active .text {
	color: #262626;
}
.sidebar .sidebar-item:hover, .sidebar sidebar-toggle:hover {
	background-color: #fbfbfb;
}
.sidebar .sidebar-item:active, .sidebar sidebar-toggle:active {
	background-color: #f3f3f3;
}
.view {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 0 0 0 48px;
	box-sizing: border-box;
}
.view .view-navbar {
	top: 0;
	left: 48px;
	width: 100%;
	height: 48px;
	position: absolute;
	background-color: #fafafa;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.6);
}
.view .view-body {
	height: 100%;
	width: 100%;
	padding: 48px 0 0 0;
	box-sizing: border-box;
}
.view .view-content-wrapper {
	width: 100%;
	height: 100%;
}
.view .view-content {
	width: 100%;
	padding: 15px 25px 0 25px;
	box-sizing: border-box;
}
.view .item-group {
	margin: 0 0 15px 0;
	box-sizing: border-box;
	width: 100%;
}
.view-navbar .view-navbar-title,
.view-navbar .view-navbar-text {
	font-size: 16px;
	line-height: 48px;
	display: inline-block;
}
.view-navbar .view-navbar-title {
	padding: 0 0 0 25px;
}
.view-body .title {
	font-size: 20px;
	line-height: 32px;
	height: 32px;
	margin: 0 0 10px 0;
}
.view-navbar .divider {
	width: 1px;
	display: inline-block;
	background-color: #aaa;
	height: 100%;
	margin: 0 12px;
}
.view-navbar .view-navbar-btn {
	display: inline-block;
	padding: 14px 12px 12px 10px;
}
.view-navbar .view-navbar-btn .text {
	display: inline-block;
}
.view-navbar .view-navbar-btn .text {
	font-size: 16px;
	height: 24px;
}
.view-navbar .view-navbar-btn .icon {
	width: 24px;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
}
.view-navbar .view-navbar-title {
	display: inline-block;
}
.source-list {
	margin: 0 0 15px -10px;
}
.source-list .source-list-item {
	width: 340px;
	padding: 12px 0;
}
.source-list .source-list-item .text {
	width: 240px;
	display: inline-block;
	line-height: 24px;
	min-height: 24px;
}
.source-list .source-list-item:hover {
	background-color: #fafafa;
}
.source-list .source-list-item:active {
	background-color: #f0f0f0;
}
.source-list .source-list-item .btn-delete {
	top: 12px;
	right: 0;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	position: absolute;
	vertical-align: middle;
}
.source-list .source-list-item .btn-delete:hover {
	background-color: #f3f3f3;
}
.source-list .source-list-item .btn-delete:active {
	background-color: #eee;
}
.source-list .source-list-item .icon {
	font-size: 24px;
	padding: 0 8px;
	width: 24px;
	line-height: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
}
.file-list {
	width: 100%;
	margin: 0 0 20px 0;
}
.file-list .file-list-item-folder {
	width: 300px;
	height: 134px;
	display: inline-block;
	background-size: cover;
	background-color: #f0f0f0;
	background-position: top center;
	margin: 0 10px 10px 0;
	border: 1px solid #eee;
	box-sizing: border-box;
}
.file-list .file-list-item-folder .info {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 54px;
	position: absolute;
	background-color: rgba(255,255,255,0.85);
	border-top: 1px solid #eee;
	padding: 10px 50px 10px 10px;
	box-sizing: border-box;
}
.file-list .file-list-item-folder .info .icon {
	top: 10px;
	right: 10px;
	width: 34px;
	height: 34px;
	font-size: 30px;
	text-align: center;
	line-height: 34px;
	position: absolute;
	color: #888;
}
.file-list .file-list-item-folder .info .path {
	color: #888;
	font-size: 13px;
}
.file-list .file-list-item-folder .info .path,
.file-list .file-list-item-folder .info .name {
	width: 190px;
}
.file-list .file-list-item-picture {
	height: 226px;
	width: 226px;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0);
	background-position: top center;
	box-sizing: border-box;
	background-size: cover;
	background-color: #eee;
}
.file-list .file-list-item-picture .picture-cover {
	top: 0;
	left: 0; 
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	box-sizing: border-box;
	border: 2px solid rgba(0,0,0,0);
}
.file-list .file-list-item-picture .picture-cover .icon.tip {
	color: #aaa;
	font-size: 32px;
}
.file-list .file-list-item-picture .checkbox {
	top: 10px;
	right: 10px;
	color: #aaa;
	width: 24px;
	height: 24px;
	display: none;
	line-height: 24px;
	font-size: 20px;
	position: absolute;
	border: 2px solid #aaa;
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.8);
}
.file-list .file-list-item-picture .checkbox:hover {
	border-color: #888;
	background-color: rgba(255,255,255,0.9);
}
.file-list .file-list-item-picture .checkbox:active {
	border-color: #888;
	background-color: #fff;
}
.file-list .file-list-item-picture.selected .picture-cover {
	border-color: #ddd;
	background-color: rgba(255,255,255,0.5);
}
.file-list .file-list-item-picture:hover .picture-cover {
	border-color: #ddd;
}
.file-list .file-list-item-picture.selected .checkbox,
.file-list .file-list-item-picture:hover .checkbox {
	display: block;
}
.file-list .divider {
	width: 100%;
	display: block;
	height: 10px;
}
time-separator {
	width: 100%;
	display: block;
	margin-top: 30px;
}
time-separator:first-child {
	margin-top: 0;
}
.time-separator-title {
	font-size: 18px;
	margin: 0 0 5px 0;
	display: block;
}
.time-separator-subtitle {
	color: #666;
	width: 100%;
	display: block;
}
.hide-path .info .path {
	display: none;
}
.hide-path .info .name {
	height: 34px;
	line-height: 34px;
}
.full-width {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}
.full-height {
	height: 100%;
}
.folder-info-box {
	top: 50px;
	width: 100%;
	display: none;
	position: absolute;
	padding: 10px 25px 10px 25px;
	background-color: #fff;
}
.folder-info-box .btn-link {
	maring-top: 0;
}
.folder-info-box-name {
	font-size: 18px;
}
.folder-info-box-path {
	color: #888;
}
.show-folder-info-box .view-body {
	padding-top: 140px;
}
.show-folder-info-box .folder-info-box {
	display: block;
}
.alert {
	top: 60px;
	right: 20px;
	position: absolute;
	padding: 10px;
	min-width: 164px;
	background-color: #fafafa;
	border: 1px solid #eee;
}
.alert .alert-title {
	font-size: 16px;
}
.alert .alert-text {
	color: #888;
	font-size: 13px;
	display: block;
}
.dialog {
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
}
.dialog-content {
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
	padding: 10px;
	vertical-align: middle;
	background-color: #fff;
	box-sizing: border-box;
}
textedit.dialog-input {
	box-sizing: border-box;
}
.dialog-content .text-block {
	margin-bottom: 15px;
}
.dialog-content .dialog-header {
	width: 100%;
	padding: 15px 15px 5px 15px;
	box-sizing: border-box;
}
.dialog-content .dialog-body {
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
}
.dialog-content .dialog-footer {
	width: 100%;
	padding: 5px 15px 15px 15px;
	box-sizing: border-box;
}
.dialog-content .input-group {
	padding: 5px 15px;
	box-sizing: border-box;
	margin: -5px -15px 10px -15px;
}
.dialog-content .input-group:last-child {
	margin-bottom: 0;
}
.dialog-content .input-group .message {
	padding-top: 5px;
}
.dialog-content .input-group .error.message {
	color: #fff;
	padding: 4px 10px;
	font-size: 13px;
	background-color: #FD4C4C;
	box-sizing: border-box;
	display: none;
}
.dialog-content .input-group.error textedit,
.dialog-content .input-group.error textedit:active,
.dialog-content .input-group.error textedit:focus,
.dialog-content .input-group.error textedit:hover {
	border-color: #FD4C4C;
	box-shadow: none;
}
.dialog-content .input-group.error .error.message {
	display: block;
}
.dialog-content .dialog-header .text,
.dialog-content .dialog-header textview {
	font-size: 18px;
}
.dialog-content .dialog-body .text,
.dialog-content .dialog-body textview {
	font-size: 14px;
	width: 100%;
}
.dialog-content .dialog-btn {
	width: 100%;
	height: 30px;
	padding: 0;
	background-color: #ddd;
	box-sizing: border-box;
	border: 2px solid #ddd;
}
.dialog-content .dialog-btn-group {
	width: 50%;
	height: 30px;
	display: inline-block;
	padding: 0 4px;
	box-sizing: border-box;
}
.dialog-content .dialog-btn-group.one-button {
	width: 100%;
	display: block;
}
.dialog-content .dialog-btn-group.one-button .dialog-btn {
	width: 50%;
	margin: 0 auto;
}
.dialog-content .dialog-btn-group:first-child {
	padding-left: 0;
}
.dialog-content .dialog-btn-group:last-child {
	padding-right: 0;
}
.dialog-content .dialog-btn:hover {
	border: 2px solid #aaa;
}
.dialog-content .dialog-btn:active {
	background-color: #aaa;
}
.dialog-content .dialog-btn:disabled {
	background-color: #eaeaea;
	border: 2px solid #eaeaea;
}
.dialog-content .dialog-btn:disabled .text,
.dialog-content .dialog-btn:disabled textview {
	color: #bbb;
}
.dialog-content .dialog-btn .text,
.dialog-content .dialog-btn textview {
	width: 100%;
	text-align: center;
	line-height: 30px;
}
.dialog-content textedit.has-error,
.dialog-content textedit.has-error:focus,
.dialog-content textedit.has-error:hover,
.dialog-content textedit.has-error:active {
	border-color: #a94442;
	box-shadow: 0 0 6px rgba(169,68,66,0.4);
}
.dialog-content progress {
	width: 100%;
	height: 14px;
	display: block;
	background-color: #eee;
	margin-bottom: 5px;
}
.dialog-content progressbar {
	width: 100%;
	height: 100%;
	background-color: #888;
}

.view-content-wrapper progress {
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
	position: absolute;
	background-color: #ccc;
}
.view-content-wrapper progressbar {
	width: 100%;
	height: 100%;
	background-color: #888;
}

#view-home-content .text:first-child {
	margin-top: 0;
}

#picture-viewer-window {
	top: 0;
	left: 0;
	z-index: 10;
	position: absolute;
}
#picture-viewer-window .window-navbar {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 56px;
	padding: 8px 12px 0 12px;
	position: absolute;
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.6);
}
#picture-viewer-window .window-navbar .pull-right {
	top: 8px;
	right: 12px;
}
#picture-viewer-window .window-navbar-btn .text,
#picture-viewer-window .window-navbar-btn .icon {
	color: #444;
	height: 24px;
	font-size: 16px;
	line-height: 24px;
	display: inline-block;
}
#picture-viewer-window .window-navbar-btn.icon-btn .text {
	margin-left: 5px;
}
#picture-viewer-window .zoom-btn-group {
	width: 120px;
	height: 40px;
	margin: 0 auto;
	bottom: 10px;
	position: absolute;
	border: 1px solid #eee;
}
#picture-viewer-window .icon-btn:first-child,
#picture-viewer-window .zoom-btn-group .icon-btn {
	margin: 0;
}
#picture-viewer-window .window-body,
#picture-viewer-window .picture-container {
	width: 100%;
	height: 100%;
}
#picture-viewer-window .picture-container picture {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
#picture-viewer-window .picture-container picture:first-child {
	left: -100%;
}
#picture-viewer-window .picture-container picture:last-child {
	left: 100%;
}
#picture-viewer-window .picture-container {
	background-position: center;
	background-size: auto;
}
#picture-viewer-window .icon-btn .icon {
	color: #444;
	width: 24px;
	height: 24px;
	font-size: 24px;
	line-height: 24px;
	padding-top: 2px;
	text-align: center;
	position: relative;
	box-sizing: border-box;
}
#picture-viewer-window .icon-btn:hover {
	background-color: #fff;
}
#picture-viewer-window .icon-btn:active {
	background-color: #f0f0f0;
}
#picture-viewer-window .icon-btn {
	display: inline-block;
	padding: 8px;
	margin-left: 8px;
}
#picture-viewer-window .picture-switch-btn {
	margin: 0;
	position: absolute;
	vertical-align: middle;
	background-color: rgba(0,0,0,0.5);
}
#picture-viewer-window .picture-switch-btn.prev {
	left: 10px;
}
#picture-viewer-window .picture-switch-btn.next {
	right: 10px;
}
.message.box {
	width: 100%;
	max-width: 120px;
	padding: 15px 25px;
	background-color: rgba(255,255,255,0.8);
}
.message .text {
	color: #ccc;
	font-size: 14px;
	text-align: center;
	width: 100%;
}
.icon.message .icon {
	width: 100%;
	font-size: 74px;
	text-align: center;
	display: block;
	color: #ddd;
}
.floating {
	z-index: 10;
	position: absolute;
}
.center.aligned {
	margin: 0 auto;
}
.middle.aligned {
	vertical-align: middle;
}

#picture-info-panel {
	top: 0;
	left: 0;
	width: 320px;
	z-index: 10;
	height: 100%;
	position: absolute;
	background-color: #fff;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
#picture-info-panel .info-item {
	margin-bottom: 20px;
}
#picture-info-panel .info-item:last-child {
	margin-bottom: 0;
}
#picture-info-panel .info-item .info-item-name {
	color: #888;
}
.panel .panel-header {
	top: 0;
	left: 0;
	width: 100%;
	height: 56px;
	padding: 8px 12px 0 12px;
	position: absolute;
	box-sizing: border-box;
}
.panel .panel-body {
	padding-top: 56px;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}
.panel .panel-content {
	padding: 20px 20px 0 20px;
	width: 100%;
	box-sizing: border-box;
}
.panel .panel-content-wrapper {
	width: 100%;
	height: 100%;
}
.panel .panel-header .pull-right {
	top: 8px;
	right: 12px;
}
.panel .panel-header .panel-header-title {
	font-size: 16px;
	line-height: 48px;
}
.tag-list {
	margin-top: 5px;
}
.tag-list-item {
	border: 1px solid #eee;
	display: inline-block;
	margin: 0 5px 5px 0;
}
.tag-list-item .text,
.tag-list-item textview {
	display: inline-block;	
	padding: 4px 8px;
	color: #666;
	line-height: 24px;
	font-size: 13px;
}
.tag-list-item .text:first-child {
	padding-right: 0;
}
.tag-list-item .btn-delete {
	color: #ddd;
	pointer-events: auto;
	display: inline-block;
	font-size: 14px;
}
.tag-list-item .btn-delete:hover {
	color: #aaa;
}
.tag-list-item .btn-delete:active {
	color: #888;
}
.tag-thumb-list {
	width: 100%;
}
.tag-thumb-list-item {
	min-width: 100px;
	min-height: 140px;
	display: inline-block;
	margin: 0 10px 10px 0;
	background-color: #f0f0f0;
	background-size: cover;
	border: 1px solid #eee;
	box-sizing: border-box;
}
.tag-thumb-list-item-info {
	left: 0;
	bottom: 0;
	width: 100%;
	min-height: 24px;
	padding: 5px 10px;
	position: absolute;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.4);
}
.tag-thumb-list-item-cover {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	box-sizing: border-box;
	border: 1px solid #ccc;
	background-color: rgba(255,255,255,0.4);
}
.tag-thumb-list-item-checkbox {
	display: none;
	position: absolute;
	font-size: 48px;
	color: #888;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
.tag-thumb-list-item .mdi-checkbox-marked {
	display: none;
}
.tag-thumb-list-item:hover .tag-thumb-list-item-cover {
	display: block;
}
thumbviewitem.selected .tag-thumb-list-item-checkbox {
	display: block;
}
thumbviewitem.selected .tag-thumb-list-item-cover {
	display: block;
	background-color: rgba(255,255,255,0.8);
}
.tag-thumb-list-item-info .text {
	color: #fff;
	line-height: 18px;
	display: inline-block;
}
.tag-thumb-list-item-info .count {
	position: absolute;
	right: 10px;
	top: 5px;
}
.search-panel {
	left: 0;
	top: 50px;
	width: 100%;
	padding: 0 15px;
	position: absolute;
	box-sizing: border-box;
}
.search-panel .search-input-group {
	width: 100%;
	box-sizing: border-box;
	padding: 10px 87px 10px 10px;
}
.search-panel .search-input-group .search-input {
	width: 100%;
	padding: 10px;
	z-index: 1;
	box-sizing: border-box;
}
.search-panel .search-input-group .btn {
	position: absolute;
	right: 10px;
	top: 10px;
	height: 40px;
	box-sizing: border-box;
	z-index: 0;
}
.search-panel .search-input-group .btn:hover {
	z-index: 2;
}

.view-time-range {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #fff;
}
.view-time-range .time-range-list {
	width: 100%;
}
.view-time-range .time-range {
	font-size: 18px;
	display: block;
	margin-bottom: 15px;
}

#view-search .view-body {
	padding-top: 110px;
}
#view-search .subview .view-body {
	padding-top: 48px;
}
#view-search-result .view-navbar-title {
	border-left: 1px solid #373D3E;
	padding-left: 15px;
}
.subview {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 48px;
	background-color: #fff;	
}
.subview .view-navbar {
	left: 0;
}

.on-selection-mode {
	display: none;
}
.on-normal-mode {
	display: block;
}
.selection-mode .on-selection-mode {
	display: block;
}
.selection-mode .on-normal-mode {
	display: none;
}
.selection-mode .file-list .file-list-item-picture .checkbox {
	display: block;
}
.btn .mdi-chevron-down {
	margin-left: 10px;
}
dropdown.checkable .icon,
dropdown.checkable .text {
	display: inline-block;
	line-height: 24px;
}
dropdown.checkable dropdown-item {
	padding-right: 20px;
}
dropdown.checkable dropdown-item .icon {
	visible: false;
	margin-right: 5px;
	font-size: 20px;
}
dropdown.checkable dropdown-item.active .icon {
	visible: true;
}
#view-settings-content.view-content {
	padding-left: 0;
}
.setting-group {
	width: 100%;
	margin-bottom: 15px;
	padding-left: 25px;
}
